.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover{
    transition: 5s;
    background-color: red;
}

/* fine-esercizio-1 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:active{
    background-color: red;
    transition:10s;
    width:100%;
}

/* fine-esercizio-2 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover{
    border-radius: 50%;
    transition: 5s;
    
}

/* fine-esercizio-3 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square:active{
    transition: 5s;
    width: 0px;
    height: 0px;
}
/* fine -esercizio-4 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover{
    transition: width 5s, height 5s;
    width: 150px;
    height:150px;
}
.ex-5-square:active{
    transition: 5s;
    width: 10px;
    height: 10px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover {
    filter: blur(3px) sepia(100%);
    transition: 2s;
}
.ex-8-img:hover{
    filter: contrast(0.8) hue-rotate(272deg);
    border-radius: 150px 10px;
    transition: 5s;
}
    
/* fine-esercizio 6-7-8 */


.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover{
    border-radius: 20px 20px;
    filter: drop-shadow(19px 26px 6px black);
    transform: scale(1.5);
}
/* fine-esercizio-9 */

.ex-10-icon {
    font-size: 60px;
}

.ex-10-icon {
    animation: spinner 750ms cubic-bezier(0, 0, 0.33, 1.01) infinite;
    animation-timing-function: linear;
}
@keyframes spinner {
    100% {
        transform: rotate(1turn);
    }
}

/* fine-sercizio-10 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: spin 3s;
}
    
@keyframes spin{
   0% {
       transform: rotate(0)

    }

    80%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}




.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
